body {
    background-color: #c2eeec;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.select {
    background-color: #f5edcc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 90%;
    height: 150px;
    border-radius: 25px;
    padding: 10px;
    position: relative;
}

.ingredient_select {
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
}


.sign1 {
    background-color: #ffe46c;
    color: rgb(224, 10, 10);
    padding:10px;
    font-size: 80px;
    width: 30%;
    height: 90px;
    justify-content: center;
    align-items: center;
    vertical-align: auto;
    font-family: 'Black Han Sans', sans-serif;
}
  
.sign2 {
    background-color: rgb(61, 197, 168);
    font-family: 'Song Myung', serif;
    color: white;
    width: 25%;
    padding: 10px;
    height: 100px;
    font-size: 90px;
    position:relative;
    background-image: linear-gradient(
        0deg,rgba
    );
}

img {
    height: 300px;
    margin: 5px;
}

#show {
    background-color: rgb(255, 191, 223);
    width: 200px;
    height: 80px;
    border-radius: 30px;
    border:none;
    font-size: 20px;
    background-image: none;
    position: relative;
    margin:30px;
}


.click{
    transition: 0.5s;
    background-image: none;
    background-color: rgb(255, 191, 223);
    font-size: 30px;
}
    
button{
    margin: 2px;
    position: relative;
    
}

button:hover {
    transition: 0.5s;
    background-image: none;
    background-color: rgb(255, 191, 223);
    font-size: 30px;
}


.options:nth-child(1){
    background-image: url(../img/돼지고기-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(2){
    background-image: url(../img/고추장.png);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    background-color: #c2eeec;
    font-size: 0;
}

.options:nth-child(3){
    background-image: url(../img/고추가루-01.png);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(4){
    background-image: url(../img/간장-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(5){
    background-image: url(../img/설탕-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(6){
    background-image: url(../img/마늘-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(7){
    background-image: url(../img/참기름-01.jpg);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(8){
    background-image: url(../img/감자-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(9){
    background-image: url(../img/스팸-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}
.options:nth-child(10){
    background-image: url(../img/파-01.jpg);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(11){
    background-image: url(../img/양파-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(12){
    background-image: url(../img/고추-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(13){
    background-image: url(../img/된장-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(14){
    background-image: url(../img/두부-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(15){
    background-image: url(../img/김치-01.jpg);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(16){
    background-image: url(../img/만두피-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(17){
    background-image: url(../img/숙주-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(18){
    background-image: url(../img/후추-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(19){
    background-image: url(../img/부침가루-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(20){
    background-image: url(../img/계란.jpg);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(21){
    background-image: url(../img/부추-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}


.options:nth-child(22){
    background-image: url(../img/전분.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(23){
    background-image: url(../img/닭고기.jpg);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(24){
    background-image: url(../img/양배추-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(25){
    background-image: url(../img/조개-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(26){
    background-image: url(../img/만두-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(27){
    background-image: url(../img/멸치-01.png);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(28){
    background-image: url(../img/소고기.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0;
}

.options:nth-child(29){
    background-image: url(../img/골뱅이-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(30){
    background-image: url(../img/오이-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(31){
    background-image: url(../img/소면-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(32){
    background-image: url(../img/식초.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(33){
    background-image: url(../img/게-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(34){
    background-image: url(../img/생강-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(35){
    background-image: url(../img/무.png);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(36){
    background-image: url(../img/당면-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(37){
    background-image: url(../img/쌀png.png);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(38){
    background-image: url(../img/애호박-01.png);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(39){
    background-image: url(../img/당근-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(40){
    background-image: url(../img/시금치-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(41){
    background-image: url(../img/깻잎-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(42){
    background-image: url(../img/새우-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(43){
    background-image: url(../img/낙지-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(44){
    background-image: url(../img/콩나물-01.jpg);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0;
}

.options:nth-child(45){
    background-image: url(../img/버섯-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(46){
    background-image: url(../img/북어.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(47){
    background-image: url(../img/건고추.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(48){
    background-image: url(../img/사과-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(49){
    background-image: url(../img/사이다-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(50){
    background-image: url(../img/소주-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(51){
    background-image: url(../img/매실-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(51){
    background-image: url(../img/매실-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(52){
    background-image: url(../img/무청-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}


.options:nth-child(53){
    background-image: url(../img/날치알-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(54){
    background-image: url(../img/도토리묵-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(55){
    background-image: url(../img/상추-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(56){
    background-image: url(../img/가지-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(57){
    background-image: url(../img/떡-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0px;
}

.options:nth-child(58){
    background-image: url(../img/밀가루-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(59){
    background-image: url(../img/콩-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(60){
    background-image: url(../img/미역.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(61){
    background-image: url(../img/우유-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(62){
    background-image: url(../img/오레오-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(63){
    background-image: url(../img/연유-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(64){
    background-image: url(../img/고구마-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(65){
    background-image: url(../img/오뎅-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(66){
    background-image: url(../img/오징어-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(67){
    background-image: url(../img/순두부-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(68){
    background-image: url(../img/단무지-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 60px;
    border: none;
    font-size: 0px;
}

.options:nth-child(69){
    background-image: url(../img/김-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(70){
    background-image: url(../img/배-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(71){
    background-image: url(../img/통후추-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(72){
    background-image: url(../img/파프리카-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(73){
    background-image: url(../img/생선-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(74){
    background-image: url(../img/계피가루-01.jpg);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(75){
    background-image: url(../img/청국장-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(76){
    background-image: url(../img/소세지-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(77){
    background-image: url(../img/케챱-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(78){
    background-image: url(../img/대추-01.jpg);
    background-size: 50px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 50px;
    border: none;
    font-size: 0px;
}

.options:nth-child(79){
    background-image: url(../img/찹쌀-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(80){
    background-image: url(../img/한약-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(81){
    background-image: url(../img/찹쌀가루-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}

.options:nth-child(82){
    background-image: url(../img/연근-01.png);
    background-size: 130px 90px;
    background-repeat: no-repeat;
    background-position: center;
    height: 90px;
    width: 130px;
    border: none;
    font-size: 0px;
}
